@mixin custom-btn-overwrite {
  transition: $transition--default;

  &:focus,
  &:active,
  &:hover {
    opacity: 1;
    box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 16px 16px 0 rgba(42, 54, 52, 0.1), 0 16px 32px 0 rgba(42, 54, 52, 0.1), 0 32px 64px 0 rgba(42, 54, 52, 0.1), 0 64px 128px 0 rgba(42, 54, 52, 0.1);
    transform: scale(1.05);
    transform-origin: center;
  }
}

@include placeholder() {
  color: $placeholder-color;
  opacity: 0.5;
  font-weight: map-get($input-font, font-weight);
  font-style: normal;
}

/* stylelint-disable */
button[type=button],
button[type=reset],
button[type=submit],
input[type=button],
input[type=submit],
input[type=submit],
  /* stylelint-enable */
.c-btn--default {
  @include custom-btn-overwrite;
}

select {
  background-size: 13px 7px;
}

input[type="radio"] {
  &:checked {
    border-color: $checkbox-color;

    &[disabled] {
      background-color: $color-white;
      border-color: $input-disabled-background-color;
    }
  }
}

input[type="checkbox"] {
  &:checked {
    border-color: $checkbox-color;
    background: $checkbox-background-color url('#{$checkbox-svg}') center center no-repeat;
    background-size: 100% 100%;

    &[disabled] {
      border-color: $input-disabled-background-color;
      background: $input-disabled-background-color url('#{$checkbox-svg}') center center no-repeat;
    }
  }
}

div.wpforms-container[class] {
  .wpforms-form {
    input[type="radio"] {
      &:checked {
        border-color: $checkbox-color;

        &[disabled] {
          background-color: $color-white;
          border-color: $input-disabled-background-color;
        }
      }
    }

    input[type="checkbox"] {
      &:checked {
        border-color: $checkbox-color;
        background: $checkbox-background-color url('#{$checkbox-svg}') center center no-repeat;
        background-size: 100% 100%;

        &[disabled] {
          border-color: $input-disabled-background-color;
          background: $input-disabled-background-color url('#{$checkbox-svg}') center center no-repeat;
        }
      }
    }

    .wpforms-submit {
      @include btn;
      @include custom-btn-overwrite;
    }
  }
}

.c-meta {
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .c-card__thumbnail-background & {
    position: absolute;
    margin: 0;
    left: 10px;
    bottom: -13px;
  }

  &>*,
  & ul>* {
    padding: 0;
  }

  .c-meta__primary {
    padding-left: 7px;
    @include spacing(margin-bottom, 0.7rem);
    min-height: 23px;
  }

  dl>dd:not(:last-of-type), dl>dl:not(:last-of-type), li:not(:last-child) {
    margin-bottom: 0;
  }
}

.c-card {
  .posted-on {
    @include taxonomy;
  }
}

.u-underlined-links .c-meta__primary a {
  text-decoration: none;
}

.c-card__thumbnail-background {
  position: relative;

  &:before {
    position: absolute;
    top: 15px;
    left: -20px;
    z-index: 2;
    content: '';
    border-top: 3px solid;
    width: 30px;
    margin-right: 0.5em;
  }
}

.archive,
.search {
  .content-area {
    padding-top: 50px;
  }
}

.c-card__action {
  display: flex;
  align-items: center;

  &:before {
    display: block;
    content: '';
    border-top: 2px solid;
    width: 0;
    margin-right: 0.5em;
    transition: $transition--default;
  }
}

.c-card {
  .c-meta__primary,
  .c-card__action,
  .c-card__thumbnail-background:before {
    transition: $transition--default;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    .c-meta__primary,
    .c-card__action,
    .c-card__thumbnail-background:before {
      opacity: 1;
      pointer-events: all;
    }

    .c-card__action:before {
      width: 2em;
    }
  }
}

.c-card__aside+.c-card__content {
  @include spacing('margin-top', 1.7em);
}

.c-card__content>:not(:last-child) {
  @include spacing('padding-bottom', 0);
  @include spacing('margin-bottom', 1em);
}

.c-gallery--blog > * {
  margin-top: 10px;
}

.c-gallery--blog .c-card__excerpt {
  opacity: 0.9;
}

.c-card__content>:not(:last-child) {
  @include spacing(margin-bottom, 0.5rem);
}

.no-results,
.error-404 {
  padding-top: 50px;
  text-align: center;

  .page-title {
    //font-size: 72px;
    width: 100%;
    text-align: center;
    @include spacing(margin-bottom, 4.3rem);
  }

  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .search-form {
    display: flex;
    width: 50%;

    .search-field {
      flex: 1;
      width: auto;
      margin-right: 14px;
    }

    .search-submit {
      max-width: 192px;
      flex: 1;
    }
  }
}

.entry-title[class] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include spacing(margin-bottom, 2.4rem);

  .search-no-results & {
    display: none;
  }
}

.archive-title__pre-title {
  flex: 1;
  color: $theme-accent-color;
  @include spacing(margin-bottom, 2.5rem);
}

body #infinite-handle span {
  padding: 0;
  background: transparent;
  border-width: 0;
}

.page-numbers:not(ul),
body #infinite-handle span button,
body #infinite-handle span button:hover,
body #infinite-handle span button:focus {
  @include btn;
}

.navigation.pagination {
  border-top: solid 3px $theme-text-color;
  @include spacing(margin-top, 3rem);
}

ul.page-numbers {
  opacity: 0;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  @include spacing(margin-top, 3.5rem);
}

.page-numbers__left,
.page-numbers__right {
  flex: 1;
}

.page-numbers__right {
  justify-content: flex-end;
  display: flex;
}

.page-numbers__middle {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;

  .page-numbers:not(.current) {
    background: transparent;
    color: $theme-text-color;
  }
}

.search-form {
  display: flex;
}
