
#{$content-wrapper-selector} {
  @import '../../../assets/scss/components/blockquote';
  @import '../../../assets/scss/components/table';
  @import '../../../assets/scss/components/dropcap';
  @import '../../../assets/scss/components/hr';
  @import '../../../assets/scss/components/intro';
  @import '../../../assets/scss/components/links';
  @import '../../../assets/scss/components/lists';

  .wp-caption-text {
    border-left: 1px solid currentColor;
    padding-left: 1em;

    .credit {
      display: block;
      @include leading-map(map-merge($h5, (
        spacing-top: 0.75rem,
        spacing-bottom: false
      )));
      opacity: 0.6;
    }
  }

  @at-root .u-underlined-links .wp-caption-text a {
    color: inherit;
  }
}
