@import "../../components/base/scss/defaults";
@import "../../variations/bobo/scss/settings";

@import 'mixins';

@import "typeline-config-editor";

$editor-style: true;
$content-wrapper-selector: 'html';
$content-selector: '.mce-content-body > *';

@import "../../components/base/scss/editor-style";
@import "../../components/featured-image/scss/editor-style";
@import "../../components/footer/scss/editor-style";
@import "../../components/gallery-settings/scss/editor-style";
@import "../../components/header/scss/editor-style";
@import "../../components/hero/scss/editor-style";
@import "../../components/multipage/scss/editor-style";

@import '../../assets/scss/components/blockquote';
@import '../../assets/scss/components/table';
@import '../../assets/scss/components/dropcap';
@import '../../assets/scss/components/hr';
@import '../../assets/scss/components/intro';
@import '../../assets/scss/components/links';
@import '../../assets/scss/components/lists';

._hero_content_description {
    color: white;
    padding-top: 50px;
}

.gallery-icon,
.gallery-icon + .wp-caption-text {
  width: auto;
  float: none;
  font-weight: inherit;
}
