@import "../../components/base/scss/defaults";
@import "../../variations/vasco/scss/settings";

@import 'mixins';

@import "typeline-config-editor";

$editor-style: true;
$content-wrapper-selector: 'html';
$content-selector: '.mce-content-body > :not(.mceTemp)';

@import "../../components/base/scss/editor-style";
@import "../../components/featured-image/scss/editor-style";
@import "../../components/footer/scss/editor-style";
@import "../../components/gallery-settings/scss/editor-style";
@import "../../components/header/scss/editor-style";
@import "../../components/hero/scss/editor-style";
@import "../../components/multipage/scss/editor-style";

@import '../../assets/scss/components/blockquote';
@import '../../assets/scss/components/table';
@import '../../assets/scss/components/dropcap';
@import '../../assets/scss/components/hr';
@import '../../assets/scss/components/intro';
@import '../../assets/scss/components/links';
@import '../../assets/scss/components/lists';

.mce-content-body {
  border: 0 solid transparent;
}

._hero_content_description {
    color: white;
    padding-top: 50px;
}

.alignleft,
.alignright {
  max-width: 45%;
}

.alignleft {
  @include spacing(margin-right, 4rem);
}

.alignright {
  @include spacing(margin-left, 4rem);
}

.wpview,
.wp-caption {
  @include spacing(margin-bottom, $typography-spacing);
}

.wp-caption-dt,
.wp-caption-dd {
  float: none;
  width: auto;
  font-weight: inherit;
}

.wp-caption-dd {
  border-left: 1px solid currentColor;
  padding-left: 1em;
  padding-top: 0;
  margin-top: 1em;
}

.gallery-icon,
.gallery-icon + .wp-caption-text {
  width: auto;
  float: none;
  font-weight: inherit;
}
