
// CONFIGURATION
// ----------------------------------------
@import 'mixins';

@import 'typeline-config';

$content-class: '.entry-content';

// COMPONENTS
// ----------------------------------------

// BASE - default
@import '../../components/base/scss/style';

// BLOG - custom
@import '../../components/blog/scss/style';

// FEATURED IMAGE - default
@import '../../components/featured-image/scss/style';

// GALLERY SETTINGS - default
@import '../../components/gallery-settings/scss/style';

// HERO - default
@import '../../components/hero/scss/style';

// HEADER - custom
@import '../../assets/scss/components/header/style';

// FOOTER - custom
@import '../../components/footer/scss/style';

// MULTIPAGE - default
// PORTFOLIO - default

@import '../../components/base/scss/plugins/gridable';
@import '../../components/base/scss/plugins/cf7';
@import '../../components/base/scss/plugins/ninja-forms';
@import '../../components/base/scss/plugins/wpforms';
@import '../../components/base/scss/plugins/jetpack-forms';
@import '../../components/base/scss/plugins/jetpack-infinite-scroll';
@import '../../components/base/scss/plugins/jetpack-sharing';
@import '../../components/base/scss/plugins/jetpack-related-posts';
@import '../../components/base/scss/plugins/jetpack-social-navigation';

.accent-image-filter {
  @include accent-image-filter;
}

$alert-placeholder-background: $theme-accent-color;

// BOBO STYLING
@import 'components/alert';
@import 'components/author-box';
@import 'components/back-to-top';
@import 'components/blob';
@import 'components/blockquote';
@import 'components/comments';
@import 'components/dropcap';
@import 'components/forms';
@import 'components/footer';
@import 'components/footer-sticky';
@import 'components/hr';
@import 'components/intro';
@import 'components/links';
@import 'components/lists';
@import 'components/overlay-card';
@import 'components/post-navigation';
@import 'components/related-posts';
@import 'components/table';
@import 'components/toolbar';
@import 'components/search-form';
@import 'components/search-overlay';
@import 'components/stamp';
@import 'components/widgets';
@import 'components/widget-callout';
@import 'components/widget-categories';
@import 'components/widget-feature';
@import 'components/widget-grid-posts';
@import 'components/widget-instagram';
@import 'components/widget-location';
@import 'components/widget-newsletter';
@import 'components/widget-profile';
@import 'components/widget-promo';
@import 'components/widget-search';
@import 'components/wp-caption';

.edit-link {
  display: none;
}

.c-navbar__content[class] {
  @include above(lap) {
    background: transparent;
  }
}

.site-content {
  overflow: hidden;
}

.hidden-mobile {
  @include below(lap) {
    display: none;
  }
}

.site-header,
.c-toolbar {
  border-top: 0 solid transparent;
}

@if ( $content-border-width != 0 ) {

  .site-header,
  .c-toolbar {
    border-top-width: $content-border-width;
  }

  .site-header,
  .c-toolbar {
    border-top-color: $content-border-color;
  }
}

.wp-caption.alignleft,
.wp-caption.alignright {
  width: 50%;
}

.c-comments-toggle__label,
.c-btn,
button[type=button],
button[type=reset],
button[type=submit],
input[type=button],
input[type=submit]{
  @include custom-btn-overwrite;
}

.stamp-newsletter-group {

  .widget_mc4wp_form_widget {
    text-align: left;
  }

  .widget {
    border-radius: 4px;
  }

  @include above(lap) {
    display: flex;
    align-items: stretch;
    margin-left: -1rem;

    .widget {
      margin-top: 0;
      margin-left: 1rem;
    }

    .c-stamp__container {
      height: 100%;
    }

    .widget_stamp {
      flex-shrink: 0;
    }
  }

  @include below(lap) {

    .widget + .widget {
      margin-top: 1rem;
    }

    .widget_stamp {
      width: auto !important;
    }
  }
}

.inline[class] {

  @include below(small) {

    [type="submit"] {
      width: 100%;
      display: block;
    }

    > * + * {
      margin-top: 1rem;
    }
  }

  @include above(small) {
    display: flex;
    margin-left: -1rem;

    > * {
      margin-left: 1rem;
    }
  }
}

.social-instagram-group {
  display: flex;
  margin-left: -1rem;

  .widget_wpcom_social_media_icons_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $theme-text-color;
    color: $content-background-color;
    border-radius: 4px;

    .widget__title {
      color: inherit;
    }
  }

  > * {
    margin-left: 1rem;
  }
}

@import "pages/single";
@import "pages/page";
