
// CONFIGURATION
// ----------------------------------------
@import 'mixins';

@import 'typeline-config';

$content-class: '.entry-content';

// COMPONENTS
// ----------------------------------------

// BASE - default
@import '../../components/base/scss/style';

// BLOG - custom
@import '../../components/blog/scss/style';

// FEATURED IMAGE - default
@import '../../components/featured-image/scss/style';

// GALLERY SETTINGS - default
@import '../../components/gallery-settings/scss/style';

// HERO - default
@import '../../components/hero/scss/style';

// HEADER - custom
@import '../../assets/scss/components/header/style';

// FOOTER - custom
@import '../../components/footer/scss/style';

// MULTIPAGE - default
// PORTFOLIO - default

@import '../../components/base/scss/plugins/gridable';
@import '../../components/base/scss/plugins/cf7';
@import '../../components/base/scss/plugins/ninja-forms';
@import '../../components/base/scss/plugins/wpforms';
@import '../../components/base/scss/plugins/jetpack-forms';
@import '../../components/base/scss/plugins/jetpack-infinite-scroll';
@import '../../components/base/scss/plugins/jetpack-sharing';
@import '../../components/base/scss/plugins/jetpack-related-posts';
@import '../../components/base/scss/plugins/jetpack-social-navigation';

// BOBO STYLING
@import 'components/alert';
@import 'components/author-box';
@import 'components/blob';
@import 'components/blockquote';
@import 'components/comments';
@import 'components/dropcap';
@import 'components/forms';
@import 'components/hr';
@import 'components/intro';
@import 'components/links';
@import 'components/lists';
@import 'components/post-navigation';
@import 'components/related-posts';
@import 'components/table';
@import 'components/toolbar';
@import 'components/search-form';
@import 'components/search-overlay';
@import 'components/stamp';
@import 'components/widget-profile';
@import 'components/widgets';
@import 'components/wp-caption';

.accent-image-filter {
  @include accent-image-filter;
}

.edit-link {
  display: none;
}

.hidden-mobile {
  @include below(lap) {
    display: none;
  }
}

@import "pages/single";
@import "pages/page";
