.product_title[class] {
    justify-content: flex-start;
}

.comment-form-rating {
    label {
        margin-bottom: 0;
    }
}

.c-cart-trigger {
    position: relative;

    .search-trigger + & {
        margin-top: 1.5rem;
    }

    .cart-count {
        width: 20px;
        height: 20px;
        top: 100%;
        left: 100%;
        transform: translate(-50%,-50%);
        border: 2px solid;
        font-family: $theme-headings-font-family-alt;
        font-weight: 700;

        span {
            font-size: 11px;
        }
    }

    svg, a {
        display: block;
    }
}

.c-card--product {

    .c-card__meta {
        @include spacing(top, 1rem);
        bottom: auto;
        transform: none;
    }

    .c-card__aside + .c-card__content {
        margin-top: 1.1em;
    }

    //.u-buttons-solid & .c-btn:hover {
    //    transform: none;
    //    box-shadow: none;
    //}
}

.c-btn--sale-flash[class] {
    padding: 0.25em 0.75em 0.25em;
}

.woocommerce-header {
    @include spacing(margin-top, 2.5rem);
    @include spacing(margin-bottom, 4rem);
}