.site-header,
.u-header-height-padding-top,
.c-toolbar {
  transition: $transition--ease-in-cubic;
}

.c-announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $theme-accent-color;
  z-index: 9001;
  @include spacing(padding, 1rem 2rem);
  display: flex;
  align-items: center;
  transform: translateY(0);
  will-change: transform;
  transition: $transition--ease-in-cubic;

  &.c-announcement-bar--hidden {
    transform: translateY(-100%);
  }
}

.c-announcement-bar__text {
  flex: 1;
  text-align: center;
  transition: $transition--default;

  &:hover {
    opacity: 0.7;
  }

  .u-underlined-links & {
    text-decoration: none;
  }
}

.c-announcement-bar__close {
  width: 26px;
  height: 26px;
  transition: $transition--default;

  &:hover {
    opacity: 0.7;
  }

  svg {
    transform: scale(0.5);
  }
}
