.site-header,
.u-header-height-padding-top,
.c-toolbar {
  &.animated {
    transition: $transition--ease-in-cubic;
  }
}

.c-announcement-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $btn-background;
  z-index: 9001;
  @include spacing(padding, 0.75rem 2rem);
  display: flex;
  align-items: center;
  transform: translateY(0);
  will-change: transform;

  &.c-announcement-bar--hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.c-announcement-bar,
.u-header-height-padding-top,
.c-toolbar,
.site-header {
  transition: all .6s $easeOutExpo;
}

.c-announcement-bar {
  transition-property: transform, opacity;
}

.u-header-height-padding-top {
  transition-property: padding-top;
}

.c-toolbar,
.site-header {
  transition-property: top;
}

.c-announcement-bar__text[class] {
  flex: 1;
  text-align: center;
  transition: $transition--default;
  font-size: 16px;
  line-height: 19px;

  color: $theme-background-color;

  &:hover {
    opacity: 0.7;
  }

  .u-underlined-links & {
    text-decoration: none;
  }
}

.c-announcement-bar__close {
  width: 26px;
  height: 26px;
  transition: $transition--default;

  &:hover {
    opacity: 0.7;
  }

  svg {
    transform: scale(0.5);
  }
}
