.back-to-top {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9000;

  width: 62px;
  height: 62px;
  margin-top: -31px;

  font-size: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition--micro ease-in-out;
  transform: translateZ(0);
  backface-visibility: hidden;

  &:before {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid currentColor;

    margin-top: -7px;
    margin-left: -9px;
  }

  @include below(lap) {
    opacity: 0 !important;
    pointer-events: none !important;
  }

  &.is-visible {
    opacity: 0.2;
    pointer-events: auto;

    &:hover {
      opacity: 1;
    }
  }
}
