.blob {
  svg {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
  }
}


.blob__part {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blob__part--1 {
  height: 80%;
  transform: translate3d(10%,-4%,0);
}

.blob__part--2 {
  height: 80%;
  transform: translate3d(10%,40%,0);
}

.blob__part--3 {
  height: 70%;
  transform: translate3d(17%,-13%,0);
}

.blob-container {
  position: relative;

  > .blob {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    transform: translate3d(-50%,0,0)
  }

  > img {
    position: relative;
    z-index: 7;
  }
}

.site-footer {
  position: relative;
  overflow: hidden;

  .blob__part {
    height: 100%;
  }
}

.blob--footer-left,
.blob--footer-right {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
}

.blob--footer-left {
  left: 0;

  .blob__part {
    transform: translate3d(-50vw,0,0);
  }

  .blob__part--2 {
    transform: translate3d(-40vw,50%, 0);
  }
}

.blob--footer-right {
  right: 0;

  .blob__part {
    transform: translate3d(50vw,0,0);
  }

  .blob__part--2 {
    transform: translate3d(40vw,50%, 0);
  }
}
