$blockquote-spacing: 5rem !default;

blockquote {
    text-align: center;

    &:not(:first-child) {
        @include spacing(margin-top, $blockquote-spacing - $typography-spacing);
    }

    &:not(:last-child) {
        @include spacing(margin-bottom, $blockquote-spacing);
    }

    cite {
      color: $theme-accent-color;
      @include vertical-separator;
    }
}
