.blobs {
  display: block;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.blobs--thumbnail {

  &, .blob, svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

$blob-color-1: #DE2D16;
$blob-color-2: #FFDCCE;
$blob-color-3: #171512;

.blob--color-1 {
  color: $blob-color-1;
}

.blob--color-2 {
  color: $blob-color-2;
}

.blob--color-3 {
  color: $blob-color-3;
}

.blob-rotation,
.blob-dispersion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blob:first-child:nth-last-child(3) {

  + .blob > .blob-rotation {
    transform: rotate(120deg);
  }

  + .blob + .blob > .blob-rotation {
    transform: rotate(240deg);
  }
}

.blobs--thumbnail {

  .blob:nth-child(1) {
    //height: 80%;
    //transform: translate3d(-40%,-4%,0);
  }

  .blob:nth-child(2) {
    //height: 75%;
    //transform: translate3d(-40%,40%,0);
  }

  .blob:nth-child(3) {
    //height: 70%;
    //transform: translate3d(-33%,-12%,0);
  }
}

.blob-container {
  position: relative;

  > img {
    position: relative;
    z-index: 10;
  }
}

.site-footer {
  position: relative;
}

.blobs--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  @include spacing(height, 30rem);

  .blob {
    position: absolute;
    bottom: 0;
  }

  .blob:nth-child(1) {
    left: 0;
    //transform: translate(-30%,56%) scale(1.4,1.1) rotate(-210deg);
  }

  .blob:nth-child(2) {
    left: 0;
    //transform: translate(-37%,30%) scale(0.5,1.4) rotate(55deg);
  }

  .blob:nth-child(3) {
    right: 0;
    //transform: translate(40%,80%) scale(1.4,1.3) rotate(-30deg);
  }

  .blob:nth-child(4) {
    right: 0;
    //transform: translate(60%,30%) scale(0.9,0.9) rotate(-50deg);
  }

  @include below(lap) {
    //.blob:nth-child(1) { transform: translate(-50%,56%) scale(0.7) rotate(160deg);}
    //.blob:nth-child(2) { transform: translate(-50%,40%) scale(.5,.7) rotate(32deg);}
    //.blob:nth-child(3) { transform: translate(50%,50%) scale(.5) rotate(10deg);}
    //.blob:nth-child(4) { transform: translate(65%,32%) scale(.5,0.6) rotate(-40deg);}
  }

  @include below(small) {
    //.blob:nth-child(1) { transform: translate(-50%,60%) scale(.5) rotate(160deg);}
    //.blob:nth-child(2) { transform: translate(-50%,50%) scale(.5,.7) rotate(32deg);}
    //.blob:nth-child(3) { transform: translate(51%,60%) scale(.5) rotate(20deg);}
    //.blob:nth-child(4) { transform: translate(64%,42%) scale(.5,.6) rotate(-40deg);}
  }
}
