
.c-footer {
  position: relative;
}


.c-footer__zone--bottom {

  .menu {
    @include leading-map(map-merge($h5,(
      spacing-top: false,
      spacing-bottom: false
    )));
    padding-left: 0;

    li:not(:first-child):before {
      content: '\2022';
      width: 1em;
      text-align: center;
      display: inline-block;

      padding-left: 0.7em;
      padding-right: 1.25em;
    }

    a {
      text-decoration: none;
    }
  }
}

.c-footer__copyright-text {
  font-weight: bold;

  span {
    font-weight: normal;
  }
}

.c-footer__zone--bottom * + .c-footer__copyright-text {

}
