
.u-underlined-links {
  a {
    text-shadow: -1px -1px $content-background-color, -1px 1px $content-background-color, 1px -1px $content-background-color, 1px 1px $content-background-color,
                 -2px 0 $content-background-color, 2px 0 $content-background-color;
    text-decoration: underline;
    display: inline;
  }
}
