ul.page-numbers {
  @include specific(2) {
    @include spacing(margin-bottom, 11rem);
  }
}

a.page-numbers,
span.page-numbers {
  .dots {
    padding: 0 10px;
  }
}

// wow
a.page-numbers:not(.prev):not(.current):not(.next) {
  color: inherit;
}

.navigation.pagination,
.woocommerce-pagination {
  border-top: 3px solid;
  @include spacing(margin-top, 3rem);
}

.page-numbers__left,
.page-numbers__right {
  display: flex;
  flex: 1 0 0;
}

.page-numbers__left {
  justify-content: flex-start;
}

.page-numbers__right {
  justify-content: flex-end;
}

.page-numbers__middle {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;

  @include below(lap) {
    display: none;
  }
}
