.search-form {
  position: relative;
}

$search-submit-width: calc( #{2 * nth($input-padding, 2)} + 1.5rem );

.search-submit[class] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: $search-submit-width;
  border: 0;
  padding: 0;

  background: url( $search-svg ) center center no-repeat;
  background-size: 1.5rem 1.5rem;

  &, &:hover {
    background-color: transparent;
  }

  span {
    display: none;
  }
}

.search-field[class] {
  padding-right: $search-submit-width;
}
