$stamp-dimension: 180px;
$stamp-inner-dimension: 120px;
$stamp-image-dimension: 100px;

.c-stamp {
  width: $stamp-dimension;
  height: $stamp-dimension;
  border: solid 2px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  font-family: $theme-headings-font-family-alt;
  color: $color-white;
  border-color: $color-white;

  &:before {
    border-color: $color-black;
    border: solid 2px;
    border-radius: 50%;
    content: '';
    position: absolute;
    width: $stamp-inner-dimension;
    height: $stamp-inner-dimension;
    top: ($stamp-dimension - $stamp-inner-dimension) / 2;
    left: ($stamp-dimension - $stamp-inner-dimension) / 2;
  }

  .c-stamp__image {
    filter: invert(1);
  }
}

%c-stamp--light {
  color: $color-black;
  border-color: $color-black;

  &:before {
    border-color: $color-black;
  }

  .c-stamp__image {
    filter: invert(0);
  }
}

.c-stamp__container.is-light .c-stamp {
  @extend %c-stamp--light;
}

.c-stamp__image {
  position: absolute;
  width: $stamp-image-dimension;
  height: $stamp-image-dimension;
  top: ($stamp-dimension - $stamp-image-dimension) / 2;
  left: ($stamp-dimension - $stamp-image-dimension) / 2;
}
