$stamp-dimension: 180px;
$stamp-inner-dimension: 120px;
$stamp-image-dimension: 70px;
$stamp-border-width: 2px;

.c-stamp {

  &--rotated {
    transform: rotate(35deg);
  }

  &.c-stamp--custom {
    opacity: 0.9;
    align-items: center;
    justify-content: center;

    .c-stamp__image--light {
      display: none;
    }
    .c-stamp__image--dark {
      display: block;
    }
  }

  &.c-stamp--auto {
    border: solid $stamp-border-width currentColor;
    border-radius: 50%;
    opacity: 0;
    font-weight: 500;
    letter-spacing: 1.5px;

    &:before {
      border: solid $stamp-border-width currentColor;
      border-radius: 50%;
      content: '';
      position: absolute;
      width: $stamp-inner-dimension;
      height: $stamp-inner-dimension;
      top: ($stamp-dimension - $stamp-inner-dimension) / 2 - $stamp-border-width;
      left: ($stamp-dimension - $stamp-inner-dimension) / 2 - $stamp-border-width;
    }
  }

  position: relative;
  width: $stamp-dimension;
  height: $stamp-dimension;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include leading-map(map-merge($h4, (
    spacing-top: 0,
    spacing-bottom: 0,
  )));
  text-transform: uppercase;
  transition: $transition--default;
}

.c-stamp__text {
  line-height: 1.7;
  text-transform: uppercase;
}

%c-stamp--dark {
  color: $color-white;
  border-color: $color-white;

  &:before {
    border-color: $color-white;
  }
}

.c-stamp__container.is-dark .c-stamp.c-stamp--auto,
.widget_callout_box .c-stamp.c-stamp--auto {
  @extend %c-stamp--dark;
}

.c-stamp--custom .c-stamp__image,
.single .entry-thumbnail .c-stamp--custom .c-stamp__image {
  max-width: $stamp-dimension;
  max-height: $stamp-dimension;
}

.c-stamp--auto .c-stamp__image,
.single .entry-thumbnail .c-stamp--auto .c-stamp__image {
  position: absolute;
  width: $stamp-image-dimension;
  height: $stamp-image-dimension;
  top: ($stamp-dimension - $stamp-image-dimension) / 2;
  left: ($stamp-dimension - $stamp-image-dimension) / 2;
}

.blob-container {
  position: relative;

  .c-stamp {
    position: absolute;
    right: 30px;
    top: -$stamp-dimension / 2;
    z-index: 15;
  }
}

.c-stamp__container {
  @include spacing(padding, 2rem);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-light {
    .c-stamp__image--light {
      display: none;
    }
    .c-stamp__image--dark {
      display: block;
    }
  }

  &.is-dark {
    background-color: $color-gray-10;

    .c-stamp__image--light {
      display: block;
    }
    .c-stamp__image--dark {
      display: none;
    }
  }
}

.c-stamp__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include spacing(margin-top, 6rem);
  @include spacing(margin-bottom, 6rem);
}
