.c-feature {
  @extend %overlay-card__container;
}

.o-layout__side {
  .c-feature {
    text-align: center;
  }
}

.c-feature__content {
  @extend %overlay-card__content;
}

.c-feature__media {
  @extend %overlay-card__media;
}

@include above(pad) {
  .c-feature__title,
  .c-feature__description,
  .c-feature__action {
    opacity: 0;
    transition: all .3s ease-out;
    transition-property: transform, opacity;
  }

  .c-feature:hover .c-feature__action {
    transition: transform .3s ease-out, opacity .3s .2s ease-out;
  }

  .c-feature:hover {

    .c-feature__description,
    .c-feature__action,
    .c-feature__title {
      transform: none !important;
      opacity: 1;
    }
  }
}

.c-feature__title span {
  @include above(lap) {
    font-size: (32em/24);
  }
}

.c-feature__title[class],
.u-buttons-outline .c-feature__btn[class] {
  color: inherit;
}

.u-buttons-solid .c-feature__btn[class],
.u-buttons-solid .c-feature__btn[class]:hover {
  background-color: #FFF;
  color: $theme-text-color;
}

.c-feature__title[class]:not(:last-child) {
  @include spacing(margin-bottom, 0.5rem);
}

.c-feature__description:not(:last-child) {
  @include spacing(margin-bottom, 1rem);
}

.c-feature__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include below(pad) {

  .c-feature {
    padding-top: 100%;
  }

  .c-feature__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    height: 100%;
  }

  .c-feature__description,
  .c-feature__action {
    display: none;
  }
}
