.widget_callout_box {

  .c-callout-box {
    display: flex;

    @include below(small) {
      flex-direction: column;
      align-items: center;

      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }

  .c-callout__media {
    order: -1;
    margin-bottom: 0;

    @include above(small) {
      border-radius: 4px;

      img {
        border-radius: 4px;
      }
    }
  }

  .c-stamp {
    transform: scale(0.8);
  }

  .c-callout__content {
    background-color: $theme-accent-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 4px;
    @include spacing(margin-bottom, 6rem);
    @include spacing(padding, 4rem 4rem 0 4rem);

    @include above(small) {
      margin-left: -20%;
      max-width: 40%;
      padding-top: 4rem;
      margin-top: 2rem;
    }

    @include below(small) {
      max-width: 90%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin-top: -2rem;
    }
  }

  .c-callout__title {
    @include leading-map($h3);
    color: $color-white;
  }

  .c-callout__description {
    color: $color-white;
    @include spacing(margin-bottom, 2rem);
  }

  .c-callout__action {
    @include above(small) {
      position: absolute;
      bottom: -28px;
    }
  }
}
