.instagram-pics {
  list-style: none;
  @include grid;
  @include grid-spacing(1rem);
  padding-left: 0;

  > li {
    width: percentage(1/4);
    margin-bottom: 0;

    @include above(small) {
      width: percentage(1/4);
    }

    @include below(small) {
      width: percentage(1/2);
    }

    a {
      @extend .accent-image-filter;
      display: block;
      border-radius: 4px;
      overflow: hidden;

      &:before,
      &:after {
        content: '';
        transition: $transition--default;
        opacity: 0;
      }

      &:hover:before,
      &:hover:after {
        opacity: 1;
      }
    }

    img {
      display: block;
      opacity: 1;
    }
  }
}

[class*='-instagram-feed'] {

  p > a {
    @include btn;
    @include custom-btn-overwrite;
  }
}
