.instagram-pics {
  list-style: none;
  padding-left: 0;

  &[class][class] {
    @include grid;
    @include grid-spacing(1rem);

    > * {
      width: percentage(1/2);
      margin-bottom: 0;

      @include above(small) {
        width: percentage(1/4);
      }
    }
  }

  &:not(:last-child) {
    @include spacing(margin-bottom, 2rem);
  }

  > li {

    a {
      @extend .accent-image-filter;
      display: block;
      border-radius: 4px;
      overflow: hidden;

      &:before,
      &:after {
        content: '';
        transition: $transition--default;
        opacity: 0;
      }

      &:hover:before,
      &:hover:after {
        opacity: 1;
      }
    }

    img {
      display: block;
      opacity: 1;
    }
  }
}

[class*='-instagram-feed'] {

  p > a {
    @include btn;
    @include custom-btn-overwrite;
  }
}
