.c-feature {
  @extend %overlay-card__container;
}

.c-feature__content {
  @extend %overlay-card__content;
}

.c-feature__media {
  @extend %overlay-card__media;
}

.c-feature__title,
.c-feature__description,
.c-feature__action {
  opacity: 0;
  transition: all .3s ease-out;
  transition-property: transform, opacity;
}

.c-feature:hover .c-feature__action {
  transition: transform .3s ease-out, opacity .3s .2s ease-out;
}

.c-feature:hover {

  .c-feature__description,
  .c-feature__action,
  .c-feature__title {
    transform: none !important;
    opacity: 1;
  }
}

.c-feature__title[class],
.u-buttons-outline .c-feature__btn[class] {
  color: inherit;
}

.u-buttons-solid .c-feature__btn[class],
.u-buttons-solid .c-feature__btn[class]:hover {
  background-color: #FFF;
  color: $theme-text-color;
}

.c-feature__title[class]:not(:last-child) {
  @include spacing(margin-bottom, 0.5rem);
}

.c-feature__description:not(:last-child) {
  @include spacing(margin-bottom, 1rem);
}
