.widget_promo_box {
  @include below(small) {

  }

  @include above(small) {

  }

  .c-promo {
    display: flex;
    background-color: $color-gray-10;
    @include spacing(padding-left, 3.5rem);
    @include spacing(padding-right, 3.5rem);

    @include below(small) {
      @include spacing(padding-top, 8rem);
      @include spacing(padding-bottom, 3rem);
      flex-direction: column;
    }

    @include above(small) {
      position: relative;
      border-radius: 4px;
      @include spacing(padding-top, 4.5rem);

      &:before {
        content: '';
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $theme-background-color;
      }
    }


  }

  .c-promo__media {
    order: -1;
    position: relative;

    @include below(small) {
      max-width: 100%;
      @include spacing(margin-bottom, 2rem);

      .c-stamp {
        top: -$stamp-dimension / 2;
        color: $color-white;
        border-color: $color-white;

        &:before {
          border-color: $color-white;
        }

        .c-stamp__image {
          filter: invert(1);
        }
      }
    }

    @include above(small) {
      max-width: 30%;
      min-width: 30%;
      margin-bottom: 0;

      .c-stamp {
        bottom: -$stamp-dimension / 2;
      }
    }

    .c-stamp {
      position: absolute;
      left: calc(50% - #{$stamp-dimension / 2});
      transform: scale(0.8);
    }
  }

  .c-promo__content {
    text-align: left;

    @include above(small) {
      @include spacing(padding-left, 4rem);
    }
  }

  .c-promo__title {
    @include leading-map($h2);
    color: $color-white;
  }

  .c-promo__description {
    color: $color-white;
    @include spacing(margin-bottom, 2rem);
  }
}
