.wp-caption-text {
  border-left: 1px solid currentColor;
  padding-left: 1em;

  .credit {
    display: block;
    @include leading-map(map-merge($h5, (
      spacing-top: 0.75rem,
      spacing-bottom: false
    )));
    opacity: 0.6;
  }
}

.u-underlined-links .wp-caption-text a {
  color: inherit;
}
