.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.archive,
.search {
  .content-area {
    @include spacing(padding-top, 3rem);
  }
}

.single-post,
.page,
.archive,
.search,
.no-results {
  .entry-title {
    @include leading-map(map_merge($page-title-font, (
        spacing-top: false,
        spacing-bottom: false,
        letter-spacing: 0,
        text-transform: none
    )));
  }
}

.entry-title:not(.product_title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include spacing(margin-bottom, 3rem);

  .search-no-results & {
    display: none;
  }
}

.archive-title__pre-title {
  flex: 1;
  color: $sm-color-secondary;
  @include leading-map(map-merge($h4, (
      spacing-top: 0,
      spacing-bottom: 0,
  )));
  @include spacing(margin-bottom, 3rem);
}

.featured-posts__footer {
  text-align: center;
  @include spacing(padding-top, 3rem);
  @include spacing(padding-bottom, 6rem);
}

a.page-numbers,
span.page-numbers {
  @include specific(2) {
    @include button;
    @include button-box;
  }
}

.page-numbers {
  &.current,
  &.prev,
  &.next {
    @include specific(2) {
      @include btn;
      @include custom-btn-overwrite;
    }
  }
}

.featured-posts__more {
  @include btn;
  @include custom-btn-overwrite;
}

.search-form {
  display: flex;
}

.c-navbar {
  text-transform: none;

  a {
    padding-left: 28px;
    padding-right: 28px;
  }

}

.c-navbar__zone {
  @include spacing(padding-left, $header-sides-spacing);
  @include spacing(padding-right, $header-sides-spacing);
}


.lite-version {
  .c-navbar li[class*='children'] {
    > a:after {
      display: none;
    }
  }

  &.admin-bar {
    .site-header {
      @include wp-offset(top, 0, true);
    }
  }

  .c-gallery--blog {
    .has-post-thumbnail {
      .c-card__frame {
        padding-top: 100%;
      }
    }
  }
}

[id="wpadminbar"] {
  transform: translateZ(0);
}

.woocommerce-checkout.has-toolbar {
  padding-right: 0;
}

.woocommerce-checkout {

  .u-header-height-padding-top {
    padding-top: 0;
  }

  .o-layout__main {
    @include spacing(padding-top, 4rem);
    @include spacing(padding-bottom, 4rem);
  }

  [id="order_review_heading"] {
    margin-top: 0;
  }
}

// checkout products table adjustments
.shop_table[class],
.woocommerce-product-attributes[class] {

  th {
    color: inherit;
  }

  tr {
    background: none;
  }
}

// mini cart title color
.c-mini-cart__title {
  color: inherit;
}

// mini cart product titles color
.c-mini-cart[class] {
  .cart_list a:not(.remove),
  .product_list_widget a:not(.remove) {
    color: inherit;
  }
}

ul.woocommerce-checkout-breadcrumbs {
  margin-top: 0;
}

@mixin underlined-link {
  position: relative;
  border-bottom: 2px solid transparent;
  transition: color .2s ease-out;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform .2s ease-out;
  }
}

@mixin underlined-link-active {

  &:after {
    transform: scaleY(1);
  }
}

.woocommerce-categories {

  a,
  .active {
    @include underlined-link;
  }

  .u-underlined-links &[class] {

    a:hover,
    .active {
      text-decoration: none;

      @include underlined-link-active;
    }
  }
}

//.wc-tabs {
//
//  a {
//    @include underlined-link;
//  }
//
//  .u-underlined-links & > .active a {
//    @include underlined-link-active;
//  }
//}
