.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.archive,
.search {
  .content-area {
    @include spacing(padding-top, 3rem);
  }
}

.entry-title:not(.product_title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include spacing(margin-bottom, 3rem);

  .search-no-results & {
    display: none;
  }
}

.archive-title__pre-title {
  flex: 1;
  color: $sm-color-secondary;
  @include spacing(margin-bottom, 3rem);
}

.featured-posts__footer {
  text-align: center;
  @include spacing(padding-top, 3rem);
  @include spacing(padding-bottom, 6rem);
}

a.page-numbers,
span.page-numbers {
  @include specific(2) {
    @include button;
    @include button-box;
  }
}

.page-numbers {
  &.current,
  &.prev,
  &.next {
    @include specific(2) {
      @include btn;
      @include custom-btn-overwrite;
    }
  }
}

.featured-posts__more {
  @include btn;
  @include custom-btn-overwrite;
}

.search-form {
  display: flex;
}

.c-navbar {
  text-transform: none;

  a {
    padding-left: 28px;
    padding-right: 28px;
  }

}

.c-navbar__zone {
  @include spacing(padding-left, $header-sides-spacing);
  @include spacing(padding-right, $header-sides-spacing);
}

.no-customify {

  .c-gallery--blog .c-gallery__item--no-image .c-card__frame {
    padding-top: 0;
  }

  .c-gallery__item--no-image {
    .c-card__aside {
      .c-meta {
        margin-bottom: 0;
      }

      + .c-card__content {
        margin-top: 0.85em;
      }
    }
    .c-card__thumbnail-background {
      background-color: transparent;
    }
  }

}

.lite-version {
  .c-navbar li[class*='children'] {
    > a:after {
      display: none;
    }
  }

  .site-header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
  }

  &.admin-bar {
    .site-header {
      top: 32px;
    }
  }
}
