// TYPOGRAPHY SETTINGS
$sidebar-width: 300px;
$layout-side-width: 300px;
$layout-spacing: 4rem;
$typography-spacing: 2.143rem;
$baseline-unit: 14px;
$fa-font-path: 'assets/fonts/fontawesome';

// Variation Variables
$sm-dark-primary: #2b2b28;
$sm-color-secondary: #f59828;

$theme-text-color: #2B3D39;
$theme-border-color: $color-gray-90;
$theme-background-color: #F5F6F1;

$theme-body-font-family: 'Lora', serif;
$theme-headings-font-family: 'YoungSerif', serif;
$theme-headings-font-family-alt: 'HK Grotesk', sans-serif;
$theme-logo-font-family: 'Bebas Neue', sans-serif;

$content-selector: '.u-content-width > :not(.wp-block-image):not([class*="align"]):not([class*="gallery"])';

$transition--ease-in-cubic: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

// ----------------------------------------
// BUTTONS
// ========================================
$btn-padding: 0.75em 1.75em;
$btn-border-radius: 4px;
$btn-background: #3EBABF;
$btn-hover-background: #3EBABF;
$btn-color: #FFF;
$btn-font: (
  font-family: $theme-headings-font-family-alt,
  font-size: 17px,
  line-heigh: 1.2
);
// ----------------------------------------
// HEADER
// ========================================
// Layout
// ----------------------------------------
$logo-height: 140px;
$logo-mobile-height: 30px;
$header-height: 87px;
$header-mobile-height: 60px;
$header-links-spacing: 56px;
$header-sides-spacing: 42px;
// ----------------------------------------
// Colors
// ----------------------------------------
$header-links-color: $theme-text-color;
$header-links-active-color: $sm-color-secondary;
$header-background-color: #F5F6F1;

// ----------------------------------------
// Fonts
// ----------------------------------------
$logo-font: (
  font-family: $theme-logo-font-family,
  font-size: 30px,
  line-height: 1,
  font-weight: 700,
  text-transform: none,
);

$header-font: (
  font-family: $theme-headings-font-family-alt,
  font-size: 16px,
  font-weight: normal,
  line-height: 1,
  letter-spacing: 0.06em,
  text-transform: uppercase
);
// ----------------------------------------



// ----------------------------------------
// CONTENT
// ========================================
// Layout
// ----------------------------------------
$content-container-width: 1240px;
$content-sides-spacing: 42px;
$content-vertical-spacing: 0;
$content-width: 720px;
$content-border-width: 0;
$content-border-color: transparent;
// ----------------------------------------
// Colors
// ----------------------------------------
$page-title-color: $theme-text-color;
$body-text-color: $theme-text-color;
$body-link-color: $sm-color-secondary;
$body-link-active-color: $sm-color-secondary;
$body-link-highlight-color: $sm-color-secondary;
$h1-color: $theme-text-color;
$h2-color: $theme-text-color;
$h3-color: $theme-text-color;
$h4-color: $sm-color-secondary;
$h5-color: $sm-color-secondary;
$h6-color: $sm-color-secondary;
$content-background-color: $theme-background-color;
// ----------------------------------------
// Fonts
// ----------------------------------------
$page-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 72px,
  line-height: (80/72),
  spacing-top: 2.5rem,
  spacing-bottom: 1rem
);

$body-font: (
  font-family: $theme-body-font-family,
  font-size: 18px,
  line-height: (30/18),
);

$blockquote-font: (
  font-family: $theme-headings-font-family,
  font-size: 32px,
  line-height: 1.5,
  spacing-top: 0
);

$typography-intro-font: (
  font-size: 24px,
  line-height: 1.5
);

$typography-intro-large-font: (
  font-size: 36px,
  line-height: (50/36)
);

$meta-title-font: (
  font-family: map-get($header-font, font-family),
  font-size: 14px,
  line-height: (17/14),
  font-weight: 700,
  text-transform: uppercase,
  letter-spacing: 0.07em
);

$meta-category-items-font: (
  font-family: map-get($header-font, font-family),
  font-size: 12px,
  line-height: 1.25,
  font-weight: 600,
  text-transform: uppercase,
  letter-spacing: 0.083em,
);

$meta-tags-items-font: ();

/* stylelint-disable */
$h1: (
  font-family: $theme-headings-font-family,
  font-size: 48px,
  line-height: (56/48),
  spacing-top: 2.786rem,
  spacing-bottom: 1.286rem,
);

$h2: (
  font-family: $theme-headings-font-family,
  font-size: 40px,
  line-height: (44/40),
  spacing-top: 3rem,
  spacing-bottom: 1.5rem,
);

$h3: (
  font-family: $theme-headings-font-family,
  font-size: 24px,
  line-height: (34/24),
  spacing-top: 3rem,
  spacing-bottom: 1.5rem,
);

$h4: (
  font-family: $theme-headings-font-family-alt,
  font-size: 19px,
  line-height: (23/19),
  font-weight: 500,
  spacing-top: 3.5rem,
  spacing-bottom: 2rem,
);

$h5: (
  font-family: $theme-headings-font-family-alt,
  font-size: 14px,
  line-height: 1.25,
  font-weight: bold,
  letter-spacing: (1em/14),
  text-transform: uppercase,
  spacing-top: 3.642rem,
  spacing-bottom: 1.642rem,
);

$h6: (
  font-family: $theme-headings-font-family-alt,
  font-size: 12px,
  line-height: (15/12),
  font-weight: bold,
  letter-spacing: (1em/12),
  text-transform: uppercase,
  spacing-top: 3.786rem,
  spacing-bottom: 0.786rem,
);

$cite-font: $h4;

$typography-table-border-width: 0;
$typography-table-cell-padding: 1rem;

/* stylelint-enable */


// ----------------------------------------
// CARD SETTINGS
// ========================================
$card-letter-color: #000;
$card-letter-hover-color: #FFF;
$card-letter-hover-opacity: 0.7;
$card-letter-font: (
  font-size: 250px,
  line-height: 1.735,
  font-weight: 300,
  text-transform: uppercase
);
// ----------------------------------------



// ----------------------------------------
// BLOG
// ========================================
// Layout
// ----------------------------------------
$blog-grid-width: 1240px;
$blog-sides-spacing: 42px;
$blog-grid-layout: regular;
$blog-grid-packed-ratio: 2.275;
$blog-grid-aspect-ratio: 1;
$blog-grid-columns: 4;
$blog-grid-vertical-spacing: 0px;
$blog-grid-horizontal-spacing: 40px;
$blog-content-position: below;
$blog-content-alignment: top left;
$blog-title-visibility: true;
$blog-excerpt-visibility: true;
// ----------------------------------------
// Colors
// ----------------------------------------
$blog-card-title-color: #2B3D39;
$blog-primary-meta-color: $sm-color-secondary;
$blog-secondary-meta-color: #828282;
$blog-thumbnail-background: $sm-color-secondary;
$blog-thumbnail-background-opacity: 0.5;

$blog-secondary-meta-color: #FFF !default;
// ----------------------------------------
// Fonts
// ----------------------------------------
$blog-card-title-font: (
  font-family: $theme-headings-font-family,
  font-size: 24px,
  line-height: 1.25,
  font-weight: 700
);

$blog-card-meta-primary-font: $h4;
$blog-card-meta-secondary-font: (
  font-family: $theme-logo-font-family,
  font-size: 19px,
  line-height: (23/19),
  font-weight: bold,
  letter-spacing: (1em/19)
);
// ----------------------------------------



// ----------------------------------------
// FOOTER
// ========================================
// Layout
// ----------------------------------------
$footer-top-spacing: 8rem;
$footer-bottom-spacing: 8rem;
// ----------------------------------------
// Colors
// ----------------------------------------
$footer-text-color: $theme-text-color;
$footer-links-color: $theme-text-color;
$footer-background-color: $theme-background-color;
// ----------------------------------------

$arrow-caret-svg: 'assets/images/arrow-down.svg';
$select-arrow-svg: 'assets/images/arrow-down.svg';
$checkbox-svg: 'assets/images/icon-check.svg';
$search-svg: 'assets/images/icon-search.svg';



// ----------------------------------------
// MEDIA
// ----------------------------------------
$wp-align-caption-font: (
  font-size: 17px,
  font-family: $theme-headings-font-family-alt,
  spacing-top: 1rem,
);

$input-border-radius: 4px;

$gallery-spacing: 4rem;

$wp-align-image-vertical-padding: 3.5rem;
$wp-align-image-horizontal-padding: 4rem;

$wp-align-wrapped-image-vertical-padding: 2.5rem;
$wp-align-wrapped-image-horizontal-padding: 3rem;

// ----------------------------------------
// FORMS
// ----------------------------------------
$checkbox-color: $sm-color-secondary;
$checkbox-background-color: $sm-color-secondary;
$checkbox-width: 1.7rem;
$checkbox-height: 1.7rem;
$input-focus-border-color: #ADADAD;
$btn-default-background: #202423;
$input-disabled-background-color: #E0E0E0;
$input-disabled-border-color: #C7C7C7;

$jetpack-sharing-icon-bg: #3B3B3B;
