
.header-dropcap {
  display: none;
}

.single {

  .entry-header,
  .entry-content {
    position: relative;
    z-index: 20;
  }

  .entry-header {
    text-align: center;

    > * {
      @include spacing(margin-top, 3rem);
    }

    .cats {
      justify-content: center;
      @include leading-map($h4);

      a {
        @include vertical-separator;
        color: inherit;
        text-decoration: none;

        &:before {
          width: 3px;
          height: 3rem;

          @include above(lap) {
            content: none;
          }
        }
      }
    }

    .posted-on {
      display: block;

      a {
        @include spacing(margin-top, -1rem);
      }

      time + time {
        display: none;
      }
    }
  }

  .header-meta {
    position: relative;
    z-index: 10;

    display: inline-flex;
    margin-top: 0;
    transform: translate(0, 50%);

    .byline, .posted-on {
      @include taxonomy;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.entry-image--none {

    .header-meta {
      transform: none;
      @include spacing(margin-top, 1rem);
    }

    .entry-header {
      @include spacing(margin-bottom, 6rem);
    }
  }

  .entry-thumbnail {
    display: flex;
    justify-content: center;
    @include spacing(margin-bottom, 4rem);

    @include below(lap) {
      padding-bottom: 4rem;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 80vh;
      width: auto;
      height: auto;
      margin: auto;
    }
  }

  .o-layout__side > .widget-first {
    margin-top: 0;
  }
}

.entry-content {

  .cats[class][class] {

    a {
      @include spacing(margin-top, 1rem);
      @include spacing(margin-right, 1rem);
    }
  }

  .cats__title {
    display: none;
  }

  .cats {
    @include spacing(margin-top, -1rem);
  }

  .tags {
    @include spacing(margin-top, 2rem);
  }

  .sharedaddy {
    @include spacing(margin-top, 2.5rem);
  }
}

.meta__item--button {
  @include taxonomy;
}

[style*="rect(1px"] {
  display: none;
}

.o-layout--blog .o-layout__side {
  @include below(lap) {
    margin-top: 4rem;
  }
}
