
// reset padding inherited from navigation item spacing
.c-branding[class] a {
  padding: 0;
}

.c-branding[class] {

  @include below(lap) {
    text-align: center;
  }

  @include above(lap) {
    margin-left: -1rem;
    margin-top: -0.5rem;

    a, .site-description {
      padding-left: 1rem;
      margin-top: 0.5rem;
    }
  }
}

.site-title {
  text-decoration: underline;
}

.site-description[class] {
  opacity: 0.5;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;
  font-family: map-get($h5, font-family);

  @include below(lap) {
    display: none;
  }
}

.c-logo {

  a {
    padding-top: 0;
    padding-bottom: 0;
  }

  // hide site title on mobile when there is a logo set up
  @include below(lap) {
    + a {
      display: none;
    }
  }
}
