.c-navbar a {
  @include spacing(padding, 1rem);
}

.c-navbar[class] {
  position: relative;
  align-items: stretch;

  ul {
    margin-top: 0;
    margin-left: 0;
  }

  li {
    margin-bottom: 0;
    margin-left: 0;
  }

  li[class*="children"] {
    position: static;

    &:hover > {

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .u-underlined-links & a {
    text-decoration: none;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding-left: 0;

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }

    > li > a {
      position: relative;
    }

    > li > a:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: currentColor;
      transform-origin: 50% 0;
      transition: $transition--default;
      transition-property: transform;
      transform: scaleY(0);
    }

    > li:hover > a:before {
      transform: scaleY(1);
    }
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
    padding-left: 0;

    background-color: #FFF;
    box-shadow: 0 4px 4px 0 rgba(42,54,52,0.1), 0 8px 8px 0 rgba(42,54,52,0.1), 0 16px 16px 0 rgba(42,54,52,0.1), 0 16px 32px 0 rgba(42,54,52,0.1), 0 32px 64px 0 rgba(42,54,52,0.1), 0 64px 128px 0 rgba(42,54,52,0.1);
  }
}

.c-navbar__zone {
  justify-content: center;

  // remove sides spacings set up for mobile
  &[class] {
    padding-left: 0;
    padding-right: 0;
  }

  &,
  nav,
  .menu {
    height: 100%;
  }
}

.c-navbar__zone--left .header {
  margin-right: auto;
}

.c-navbar__zone--right .header {
  margin-left: auto;
}

.c-branding {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  a {
    flex-shrink: 0;
  }
}

.c-navbar__zone {
  padding-left: 0;
  padding-right: 0;
}
