@import '../../../../components/header/scss/elements/burger';
@import '../../../../components/header/scss/elements/branding';
@import '../../../../components/header/scss/elements/site-header';

@include below(lap) {
  @import '../../../../components/header/scss/elements/navbar-mobile';
  @import 'mobile';
}

@include above(lap) {
  @import '../../../../components/header/scss/elements/navbar-desktop';
  @import 'desktop';
}

.c-navbar[class] .sub-menu {
  background-color: #FFF;

  @include below(lap) {
    background: none !important;
  }
}

@import '../../../../components/header/scss/customify';

@import 'branding';

.c-navbar__checkbox {
  display: none;
}

.u-underlined-links .c-navbar a {
  text-decoration: none;
}

.u-underlined-header-links .c-navbar a:hover {
  text-decoration: underline;
}

.c-navbar {

  li[class*="children"] {
    position: static;

    > a:after {
      content: "";

      display: inline-block;
      width: 7px;
      height: 7px;

      margin-left: .5em;
      border: 1px solid transparent;
      border-right-color: currentColor;
      border-bottom-color: currentColor;
      transform: rotate(45deg);
    }

    &:hover > {

      > a:after {
        transform: translateY(50%) rotate(-135deg);
      }
    }
  }
}
